/* .username {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.username h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4.2rem;
    width: 60%;
    text-align: center;
}

.username__container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.username__container form {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1rem;
}

.username__container input {
    border-radius: 15px;
} */

.username {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}